@import "tailwindcss";

@theme {
    --breakpoint-*: initial;
    --breakpoint-tablet:40rem;
    --breakpoint-mini-laptop: 48.75rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;

    --font-allura:allura;

    --font-Dana:Dana;
    --font-Dana-light:Dana-light;
    --font-Dana-Bold:Dana-Bold;
    --font-Dana-DemiBold:Dana-DemiBold;

    --font-moraba:moraba;
    --font-moraba-bold:moraba-bold;
    --font-moraba-med:moraba-med;
    --font-moraba-li:moraba-li;

    
  }

  @utility container{
    @apply mx-auto p-4 tablet:p-[0.625rem]
  }
  
  @utility flex-center{
    @apply flex justify-center items-center
  }

  
    @layer base{

      @font-face {
        font-family: "allura";
        src: url("../public/fonts/DancingScript-Medium.ttf");
        font-display: swap;
      }
    }
    @layer base{

      @font-face {
        font-family: "Dana";
        src: url("../public/fonts/DanaFaNum-Regular.woff2");
        font-display: swap;
      }
      @font-face {
        font-family: "Dana-light";
        src: url("../public/fonts/DanaFaNum-Light.woff2");
        font-display: swap;
      }
      @font-face {
        font-family: "Dana-Bold";
        src: url("../public/fonts/DanaFaNum-Bold.woff2");
        font-display: swap;
      }
      @font-face {
        font-family: "Dana-DemiBold";
        src: url("../public/fonts/DanaFaNum-DemiBold.woff2");
        font-display: swap;
      }
      @font-face {
        font-family: "moraba";
        src: url("../public/fonts/mo/Morabba-Regular.woff2");
        font-display: swap;
      }
      @font-face {
        font-family: "moraba-bold";
        src: url("../public/fonts/mo/Morabba-Bold.woff2");
        font-display: swap;
      }
      @font-face {
        font-family: "moraba-med";
        src: url("../public/fonts/mo/Morabba-Medium.woff2");
        font-display: swap;
      }
      @font-face {
        font-family: "moraba-li";
        src: url("../public/fonts/mo/Morabba-Light.woff2");
        font-display: swap;
      }
    }

